<nav>
  <ul>
    <li><a href="/tasks">Task Index</a></li>
    <li><a href="/tasks/new">New Task</a></li>
  </ul>
</nav>
<h1>Welcome to the Task Manager!</h1>
<div class="main">
  <p>You lead a busy life and sometimes it's hard to remember all
     the things you were supposed to do!  Here is a handy Task Manager
     app where you can create your very own list of tasks to do!
     Simply click on the link
     "Now Task" to create a new task.  And to view your
     list click on "Task Index".
  </p>
</div>
